.navMenu {
  height: 100%;
  width: 520px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0, .9);
  opacity: 0;
  visibility: hidden;
  transition: visibility .5s, opacity 1s ease-in-out;
  margin: 0 auto;
  z-index: 2;
}

.navMenu_open {
  opacity: 1;
  visibility: visible;

}

.navMenu__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0 auto;
  padding: 159px 0 90px 0;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.navMenu__container__close-button {
  position: absolute;
  top: 6px;
  right: 18px;
  background-image: url(../../images/close.svg);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: white;
}

.navMenu__container__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  background: none;
  border: none;
}

.link_state_active {
  padding-bottom: 4px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 580px) {
  .navMenu {
    width: 100%;
    margin-bottom: 444px;
  }

}
